body { 
    background-color: rgb(138, 138, 138) ; 
    color: black;
    margin: 50px;
  }

#container {
  margin-left: 20px;
  border: 100px;
}

h1 {
  color: rgb(40, 61, 68);
  font-size: 50px;
}

a {
  color: white;
}

a:hover {
  color: white;
}